body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #333;
    overflow-x: hidden;
}
.header {
    background: #333;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.header .container {
    text-align: center;
    padding-bottom: 15px;
}
.header .container p {
    padding: 10px;
    color: #FFF;
    margin: 0;
}
.header .container b {
    font-size: 1.5em;
}
h1 {
    font-size: 3em;
    padding: 10px;
    color: #FFF;
    margin: 0;
}
a {
    margin: 5px;
    text-decoration: none;
}
p {
    line-height: 1.5em;
}
.categories {
    display: block;
    margin: 10px;
    width: 100%;
}
.categories a {
    color: #333;
    padding: 10px;
    text-shadow: none;
    border-radius: 5px;
}
.categories a:focus {
    outline: none;
}
/*
Information - #C5AAF5
Planning - #A3CBF1
Design - #79BFA1
Development - #F5A352
Testing - #FB7374
Maintenance - #423C40
*/
.categories .information {
    background: #C5AAF5;
}
.categories .planning {
    background: #A3CBF1;
}
.categories .design {
    background: #79BFA1;
}
.categories .development {
    background: #F5A352;
}
.categories .testing {
    background: #FB7374;
}
.links {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.website {
    background: #333;
    color: #FFF;
    width: 47%;
    margin-top: 2%;
    display: inline-block;
    border-radius: 3px;
}

@media screen and (min-width: 900px) {
    .website:nth-child(odd) {
        margin-right: 2%;
    }
}

.website.information {
    border-top: 4px solid #C5AAF5;
}
.website.information a {
    color: #C5AAF5;
}
.website.planning {
    border-top: 4px solid #A3CBF1;
}
.website.planning a {
    color: #A3CBF1;
}
.website.design {
    border-top: 4px solid #79BFA1;
}
.website.design a {
    color: #79BFA1;
}
.website.development {
    border-top: 4px solid #F5A352;
}
.website.development a {
    color: #F5A352;
}
.website.testing {
    border-top: 4px solid #FB7374;
}
.website.testing a {
    color: #FB7374;
}
.website.maintenance {
    border-top: 4px solid #423C40;
}
.website.maintenance a {
    color: 4px solid #423C40;
}
@media screen and (max-width: 900px) {

    .website {
        width: 97%;
        margin-right: 0;
    }

    .categories a {
        width: 50% !important;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

}
